.splash {
    text-align: center;
    margin: 10% 0 0 0;
    background: rgba(0,0,0,0.0.6);
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
    visibility: visible
}

